# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.3/en/server-configuration-defaults.html

[mysqld]
# Allocate 70-80% of available RAM for InnoDB buffer pool
innodb_buffer_pool_size = 2G

# Enable binary logging
log_bin

# Adjust buffer sizes for optimal performance
join_buffer_size = 4M
sort_buffer_size = 1M
read_rnd_buffer_size = 1M

# Revert to previous value for default_authentication_plugin
default-authentication-plugin=mysql_native_password

# Disable host caching (move to [mysql] section if applicable)
host-cache-size=0
skip-name-resolve

datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/

